<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Implementação teste de uma API Rest</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- RestEasy Bootstrap -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<!-- Spring Bootstrap -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<!-- loading Spring Context for registering beans with ApplicationContext -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            WEB-INF/spring-resteasy.xml
        </param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan.providers</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- CONFIGURACOES DE SEGURANCA -->
	<!-- <security-constraint> -->
	<!-- <web-resource-collection> -->
	<!-- <web-resource-name>Rest resources</web-resource-name> -->
	<!-- <description>Protege todos os recursos RESTful</description> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- <http-method>GET</http-method> -->
	<!-- <http-method>POST</http-method> -->
	<!-- <http-method>PUT</http-method> -->
	<!-- <http-method>DELETE</http-method> -->
	<!-- </web-resource-collection> -->
	<!-- <auth-constraint> -->
	<!-- <role-name>S</role-name> -->
	<!-- <role-name>I</role-name> -->
	<!-- </auth-constraint> -->
	<!-- </security-constraint> -->

	<!-- <security-role> -->
	<!-- <role-name>S</role-name> -->
	<!-- </security-role> -->
	<!-- <security-role> -->
	<!-- <role-name>I</role-name> -->
	<!-- </security-role> -->

	<!-- <login-config> -->
	<!-- <auth-method>BASIC</auth-method> -->
	<!-- <realm-name>${security.domain}</realm-name> -->
	<!-- </login-config> -->
</web-app>